* {
    border: 2px solid silver;
    margin: 10px;
    /* min-width: 50px; */
    /* min-height: 50px; */
    height: calc(100vh - 15px);
}

body {
    display: -webkit-flex; /*Safari*/
    display: flex;
    flex-direction: column;
}

header {
    height: auto;
    flex-grow: 1;

}

main {
    height: auto;
    flex-grow: 4;
}

footer {
    height: auto;
    flex-grow: 1;
}