* {
    border: 1px solid silver;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Хедер*/
.header { 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.header-row {
    flex-grow: 2;
}

/* Контент и сайдбар*/
.content {
    display: flex;
    flex: 1 0 auto;
    text-align: center;
    /* align-items: center; */
    justify-content: space-between;


}
/* Футер*/
.footer {
    flex: 0 0 auto;
}