* {
    border: 1px solid silver;
}

body {
    /* display: flex; */
    /* max-width: 1200px; */
    height: 100%;
}

.wrapper {
    /* display: flex; */
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    /* display: flex; */
    /* align-items: center; */
    margin: auto;
}

.header {
    display: flex;
    min-width: 1200px;
    height: auto;
    flex-grow: 1;
    /* align-self: center; */
    text-align: center;
    /* flex-shrink: 1; */
    /* flex: 1; */
    /* align-items: center; */
}

.Logo {
    width: 100px;
    height: 100px;
    align-items: center;
    align-self: center;
}

.row-1 {
    flex: 6;
    flex-direction: column;
}

.inner-header {
    flex-grow: auto;
}

.inner-menu {
    
}

.log {
    flex: 1.2;
    height: 100px;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-direction: row;
    /* justify-content: space-between; */
    flex: 1 0 auto;
}

.content-1 {
    flex-wrap: wrap;
    /* height: auto; */
    width: 70%;
    flex: 6;

}

.content-1 {
    /* flex-grow: 3; */
}

.cont-row {
    display: flex;
    /* margin: auto; */
    flex-flow: row wrap;
    /* align-items: center;
    align-self: center;
    align-content: center; */
    /* text-align: inherit; */
    justify-content: space-around;

}

.act {
    background: rgb(100, 102, 204);
    min-height: 150px;
    /* flex: 1; */
    /* flex-grow: 1; */
    min-width: 150px;
    /* flex-shrink: 1; */
    /* flex-basis: 1; */
}


.sidebar {
    flex-wrap: nowrap;
    /* height: 400px; */
    flex: 2;
}

.footer {
    flex-grow: 1;
    flex: 0 0 auto;
    /* justify-content: flex-end;
    align-self: flex-end; */
    /* height: 80px;
    margin-top: -80px; */
}